.f-text-style h2{
    font-size: 50px;
}
.icon i{
    font-size:25px ;
    margin-left: 10px;
    text-align: center;
    
}
.fa-facebook{
    color: #3b5998;
}
.fa-instagram{
    color: #eb4823;
}
.fa-twitter{
    color: #00aced;
}
